# Executables
biregGirthGen/biregGirthGen
biregGirthGen/biregGirthGen-profiler
biregGirthGen/biregGirthGen-128
biregGirthGen/biregGirthGen-128-profiler
biregGirthGen/biregGirthGen-128-array
biregGirthGen/biregGirthGen-128-array-profiler

regToBireg/regToBiregExec

calcMaxAtMinDist/calcMaxAtMinDistExec

# audit files
biregGirthGen/audit/
